/assets/

/vendor/
/resources/
/node_modules/
/app/tests/nightwatch_reports/
/app/tests/nightwatch_screenshots/
/raygun
.env
/themes/default/dist/app.js
/themes/default/dist/app.css
/.nightwatch.custom.json
/simple-styleguide

.idea
.DS_Store
