/.DS_Store
/.env
/.idea
/.nightwatch.custom.json
/.storybook/.cache
/.storybook/node_modules
/.storybook/storybook-static/
/.vagrant
/Vagrantfile
/app/tests/nightwatch_reports/
/app/tests/nightwatch_screenshots/
/mix-manifest.json
/node_modules/
/public/_resources/
/public/assets/
/raygun/
/simple-styleguide/
/themes/app/dist/app.js
/themes/app/dist/app.css
/themes/app/dist/editor.css
/vendor/
/themes/app/dist/mix-manifest.json
/themes/app/dist/editor.css
