/**
 * List the colours which should be made available as CSS variables
 *
 * For example 'black' will copy `$color-black` to `var(--color-black)`
 * in addition `var(--color-black--rgb)` will be created
 * so it can be used in `rgba()` context, for example `rgba(var(--color-black--rgb), 0.4)`
 *
 */
$colours-in-css: (
  black: $color-black,
  white: $color-white,
  grey-dark: $color-grey-dark,
  grey-mid: $color-grey-mid,
  grey-light: $color-grey-light,
  red: $color-red,
  green: $color-green,
  blue: $color-blue
);

/**
 * List other variables which should be made available as CSS variables
 *
 */
$vars-in-css: (
  font-family-base: $font-family-base,
  font-size-base: $font-size-base
);

/**
 * Create the root variable scope
 */
:root {
  @include copyColoursToCssVars($colours-in-css);
  @include copyVariablesToCssVars($vars-in-css);
}
