/**
 * Styles to help assistive tech
 */

/* Remove all animations and transitions
for people that prefer not to see them */
@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    /* stylelint-disable declaration-no-important */
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    /* stylelint-enable declaration-no-important */
  }
}
