@import '../core/variables';

/**
 * Mixin to allow easy use of icons.
 *
 * @example
 * .btn {
 *   &::after {
 *     @include icon(my-icon, 16px, 16px)
 *   }
 * }
 */
@mixin icon($icon, $width: 24px, $height: 24px) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  height: $height;
  width: $width;
  background-image: url('#{$icon-path}/#{$icon}.svg');
  content: '';
}

/**
 * Convert a scss map of colours into CSS variables
 */
@mixin convertColoursToCssVars($colours) {
  @each $name, $hex in $colours {
    --color-#{$name}: #{$hex};
    --color-#{$name}--rgb: #{hextorgb($hex)};
  }
}

/**
 * Convert a scss map of variables into CSS variables
 */
@mixin convertVariablesToCssVars($variables) {
  @each $name, $var in $variables {
    --#{$name}: #{$var};
  }
}

/**
 * Convert hex colours to rgb() syntax
 * this is useful if you want to add an opacity
 *
 * @param   {string}  $hex  - the hex colour to convert to rgb
 *
 * @example
 * .btn {
 *   background-color: rgba(#{hextorgb($color-blue)}, 0.4);
 * }
 */
@function hextorgb($hex) {
  @return red($hex), green($hex), blue($hex);
}
