/**
 * Application variables
 */
$font-path: '../fonts' !default;
$icon-path: '../icons' !default;

$font-size-base: 1.6rem !default; // ~16px - body font-size set to 10px for easy px-rem conversion

$meganav-content-bg: var(--white);
$meganav-border-color: var(--grey);
$meganav-link-color: var(--primary);
$meganav-padding-y: 3.2rem;
$meganav-animation-time: 0.3s; // CAUTION: This time is tied to a setTimeout in Meganav.vue

$blockquote-bg: #EEE;
$blockquote-color: #6A787B;
$cite-color: #6A787B;

$heading-link-color: var(--blue);
$heading-link-hover-color: var(--red);

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

/* Spacing */
$footer-block-margin-bottom: 35px;

$header-margin-bottom: 0.5em;
$header-margin-top: 1em;

$h1-margin-bottom: $header-margin-bottom;
$h1-margin-top: $header-margin-top;

$h2-margin-bottom: $header-margin-bottom;
$h2-margin-top: $header-margin-top;

$h3-margin-bottom: $header-margin-bottom;
$h3-margin-top: $header-margin-top;

$h4-margin-bottom: $header-margin-bottom;
$h4-margin-top: $header-margin-top;

$h5-margin-bottom: $header-margin-bottom;
$h5-margin-top: $header-margin-top;

$h6-margin-bottom: $header-margin-bottom;
$h6-margin-top: $header-margin-top;

/**
 * Bootstrap variable overrides
 */
