/**
 * --------
 * Settings - global variables for the project
 * --------
 */

@import '00_settings/variables';
@import '00_settings/breakpoints';
@import '00_settings/accessibility';


/**
 * ---------
 * Functions - global utility functions
 * ---------
 */

@import '10_functions/*';


/**
 * ------
 * Mixins - global reusable styles
 * ------
 */

@import '20_mixins/*';



/**
 * ----------
 * Frameworks - standard styling libraries to use
 * ----------
 */

@import '30_frameworks/bootstrap';


/**
 * ----
 * Base - essential styling for the project
 * ----
 */

@import '40_base/*';

/**
 * ---------
 * Templates - styles required for page templates
 * ---------
 */

@import '50_templates/*';


/**
 * ------
 * Blocks - elemental block styling
 * ------
 */

@import '60_blocks/*';


/**
 * ----------
 * Components - used within templates or blocks
 * ----------
 */

@import '70_components/*';


/**
 * -----------
 * Third-party - styling for third-party code, plugins or includes
 * -----------
 */

@import '80_third-party/*';


/**
 * ---------
 * Overrides - customisations of third-party code
 * ---------
 */

@import '90_overrides/*';
